<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mortgage App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="{{ url_for('index') }}" class="logo">MortgageApp</a>
        </div>
        <div class="nav-right">
           <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>        
        </div>
    </nav>



    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
